#container {
  margin: 0 2em;
}

.lang_name {
  display:inline-block !important;
}

/* Bid */

#methods, #countries {
  display: none;
  font-size: 13px;
}



/* Forms */

form .error {
  font-size: 12px;
  color: red;
}

form #methods input {
  margin: 0 0px 3px 0;
}

form #methods label {
  margin-left: 2px;
}